<h1>Helios Controls Playground</h1>

<h2 style="align-content: center">Un-constrained drop down list controls</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="700">
        <mat-option  *ngFor="let state of filteredStates | async" [value]="state.declarationTypeCode">
          <div style="width: 500px; text-overflow: inherit">
          <span>{{state.declarationTypeCode}}</span> |
          <small>Description: {{state.declarationTypeCodeDescription}}</small>
        </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br>
<router-outlet></router-outlet>
